name: docker-release

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - '*'
    
jobs:
  build:
    permissions:
      contents: read
      packages: write  
    strategy:
      fail-fast: true
      matrix:
        build:
          - runner: ubuntu-24.04-arm
            platform: linux/arm64
          - runner: ubuntu-latest
            platform: linux/amd64
    uses: josephrodriguez/github-workflow/.github/workflows/docker-build-release-by-digest.yaml@74b71ba331b1775d009d3441f96c88d78d1f4254
    with:
      github_runner: ${{ matrix.build.runner }}
      docker_image_name: ghcr.io/${{ github.repository }}
      docker_build_args: |
        K6_VERSION=1.5.0
      docker_platform: ${{ matrix.build.platform }}
      docker_push: true
      docker_digest_name: digests-k6
      docker_registry_url: ghcr.io
    secrets:
      DOCKER_REGISTRY_USERNAME: ${{ github.actor }}
      DOCKER_REGISTRY_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  push:
    uses: josephrodriguez/github-workflow/.github/workflows/docker-push-release-by-digest.yaml@74b71ba331b1775d009d3441f96c88d78d1f4254
    permissions:
      packages: write
      contents: read
    needs:
      - build
    with:
      docker_registry_url: ghcr.io
      docker_image_name: ghcr.io/${{ github.repository }}
      docker_image_tags: |
        type=raw,value=1.5.0-{{date 'YYYYMMDDhhmm'}}-{{sha}}
        type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}
      docker_digest_pattern: digests-k6*
    secrets:
      DOCKER_REGISTRY_USERNAME: ${{ github.actor }}
      DOCKER_REGISTRY_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            
  dependabot:
    needs: [ push ]
    permissions: write-all
    uses: josephrodriguez/github-workflow/.github/workflows/dependabot-merge-pull-request.yaml@74b71ba331b1775d009d3441f96c88d78d1f4254
    secrets:
      AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}                 